<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_header.ejs %>
  <body>

   <% render.forEach(function(item) { %>
     <div class="order_container">

       <section class="order_container_header">
        <span class="order_id">Order ID: <%= item.order_id %></span>
        <span class="total">Total: TOTAL HERE</span>
       </section>

        <section class="<%= item.meal_type %>">
         <img class="logo" src="/images/<%= item.name %>.jpg" style="width:200px;height:150px;">
         <span class="food_name"><%= item.name %></span>
          <span class="food_description"><%= item.description %></span>
          <span class="food_price"><%= item.price %></span>
        <span class="quantity">Quanity: 2</span>
        </section>

        <section class="order_container_footer">
          <span class="eta">Ready In: <%= item.ETA %></span>
          <form name ='notify_form' id='notify_form' action='/.../' method='...'>
            <textarea name='notify_text' class="notify_text"></textarea>
            <input type="submit" value="Notify">
          </form>
        </section>

      </div>
    <% }); %>
  </body>
</html>
