<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_header.ejs %>
  <body>

    <% render.forEach(function(item) { %>
     <div class="order_container">

       <section class="order_container_header">
        <span class="order_id">Order ID: <%= item.order_id %></span>
        <span class="total">Total Price: $<%= item.total_price %></span>
       </section>

       <% for (let prop in item.items) { %>
        <section class="<%= item.meal_type %>">
         <img class="logo" src="/images/<%= item.name %>.jpg" style="width:200px;height:150px;">
         <span class="food_name"><%= item.items[prop][0] %></span>
          <span class="food_description"><%= item.items[prop][2] %></span>
          <span class="food_price">$<%= item.items[prop][3] %></span>
          <span class="quantity">Quanity: <%= item.items[prop][1] %></span>
        </section>
         <% } %>

        <section class="order_container_footer">
          <span class="eta">Ready In: OWNER ENTERS ETA HERE</span>
          <form name ='notify_form' id='notify_form' action='/.../' method='...'>
            <textarea name='notify_text' class="notify_text"></textarea>
            <input type="submit" value="Notify">
          </form>
        </section>

      </div>
    <% }); %>

  </body>
</html>
