<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_header.ejs %>

      <section class="dashboard-categories text-center pt-3 mb-3">
        <button class="pending btn" type="submit">
          Pending
        </button>
        <button class="completed btn" type="submit">
          Completed
        </button>
      </section>

    <% render.forEach(function(item) { %>
     <div class="order_container" >
      <input type="hidden" value="<%= item.complete %>" class="complete_status">
      <input type="hidden" value="<%= item.update %>" class="update_status">
       <section class="order_container_header">
        <span class="order_id">Order ID: <%= item.order_id %></span>
        <span class="date">Time of Order: <%= item.time_ordered %></span>
       </section>
       <% for (let prop in item.items) { %>
        <section class="order-details">
          <img class="logo" src="/images/<%= item.items[prop][0] %>.jpg" style="width:200px;height:150px;">
          <div class="menu-item-info">
            <span class="food_name"><%= item.items[prop][0] %></span>
            <span class="food_description"><%= item.items[prop][2] %></span>
            <div class="qty-selection">
              <span class="food_price">$<%= item.items[prop][3] %></span>
              <span class="quantity">Quantity: <%= item.items[prop][1] %></span>
            </div>
          </div>
        </section>
         <% } %>
        <section class="order_container_footer">
          <span class="total">Total: $<%= Number(item.total_price).toFixed(2) %></span>
          <!-- toggle between these -->
          <form name='notified_form' class='notified_form' action='/notify' method='POST'>
            <i class="fa fa-check-circle"></i>
            <span class="notifed_text">Notified</span>
          </form>
          <form name='notify_form' class='notify_form' action='/notify' method='POST'>
            <input type="hidden" value="<%= item.order_id %>" class="hidden-order-id">
            <input type="number" name='eta' class="notify_text" placeholder="ETA" min="1" required>
            <button class="notify" type="submit">
             <span class="notify_button_text">Notify</span>
            </button>
          </form>
          <!-- toggle between these -->
        </section>
      </div>
    <% }); %>

  <% include ./partials/_footer.ejs %>
  </body>
</html>
