<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_header.ejs %>

    <div class="menu_container">

      <section class="categories">
        <button class="all btn" type="submit">
          All
        </button>
        <button class="breakfast btn" type="submit">
          Breakfast
        </button>
        <button class="lunch btn" type="submit">
          Lunch
        </button>
        <button class="dinner btn" type="submit">
          Dinner
        </button>
      </section>

      <!-- Render menu items -->
       <% render.forEach(function(item) { %>
         <div class="<%= item.meal_type %>">
            <img class="logo" src="/images/<%= item.name %>.jpg" style="width:200px;height:150px;">
            <div class="menu-item-info">
              <span class="food_name"><%= item.name %></span>
              <span class="food_description"><%= item.description %></span>
              <div class="qty-selection">
                <span class="food_price">$<%= item.price %></span>
                <input type="checkbox" class="<%= item.name %>">
                <span class="test" style="display:none">test</span>
                <select name="selector" class="<%= (item.name).replace(/[^0-9a-z]/gi, ''); %>">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
          </section>
          </div>
        <% }); %>

        <section class="menu_footer">

        <form name ='order_form' id='place_order_form' action='/order' method='post'>
          <span class="name_text">Name</span>
          <input name='text' class="name" placeholder="John Smith" pattern="g[^select|^table|^drop|^users|^delete|^insert|^where])" required>
          <span class="number_text">Number</span>
          <input name='text' class="number" placeholder="123-456-7890" pattern="[0-9]{10}" required>
          <input type="submit" value="Place Order">
        </form>
          <!-- toggle between these -->


      </section>

    </div>
    <% include ./partials/_footer.ejs %>
  </body>
</html>
