<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_header.ejs %>
  <h1>Your Order</h1>
  <body>

    render.forEach(function(item) {
     <div class="order_container">
       <section class="order_container_header">
        <span class="order_id">Order ID: <%= item.order_id %></span>
        <span class="date">DATE HERE</span>
       </section>

        <section class="the_bird_special">
          <img class="logo" src="/images/<%= item.name %>.jpg" style="width:200px;height:150px;">
           <span class="food_name"><%= item.name %></span>
            <span class="food_description"><%= item.description %></span>
          <span class="the_bird_special_price"><%= item.price %></span>
          <span class="quantity">Quantity: <%= item.quantity %></span>
        </section>

        <section class="order_container_footer">
          <span class="eta">Ready In: <%= item.ETA %></span>
          <span class="total">Total: <%= item.total_price %></span>
        </section>
      </div>
      });

  </body>
</html>
